li {
    list-style: none;
    color:blue;
  }
  .completed-true {
    text-decoration: line-through;
    color: grey;
  }
.gallery-item{
  margin-right:5px ;
  padding: 14px;
}
.hide{
  display : none;
}
.show{
  display: inline;
}
