
body{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

li {
    list-style: none;
    color: #6D645C; 
  }
  .completed-true {
    text-decoration: line-through;
    color: grey;
  }
.gallery-item{
  /*width:30%;
  margin:5px ;*/
  padding: 14px;
  border-radius: 15px ; 
  color: #6D645C; 
 background-color: #C6EEEB;
}
.search{
  text-align: left;
}
.hide{
  display : none;
}
.show{
  display: inline;
}
.box{
height: 350px;
background-color: #eeeeee;
border: solid 4px #6D645C; 
border-radius: 15px 50px; 
position: relative;
}
.amount{
  width: 22%;
}
.boxinput{
 position: absolute;
 bottom: 10px;
 left: 10px; 
}
.boxicon{
  font-size:40px;
  padding: 10px;
  color:#3E726A; 
  position: absolute;
  top:5px;
  right:5px;
}

.boxtitle{
  text-align: center;
  color:#6D645C; 
}
.boxlist{
  height: 250px;
  overflow: scroll;
  left: 5px;
}
.btn-primary{
  background-color: #aaaaaa;
  border-color: #888888;
}
.btn-success{
  background-color: #aaaaaa;
  border-color: #888888;

}
.map{
  height: 254px;
  margin: 8px;
  border: solid 2px #6D645C; 
  display: inline-block;
}
.navbar{
  background-color:#89C7BE; 
 }
a{
  color: #6D645C; 
  font-size: 18px;
}
.color{
  color:#6D645C; 
}
.yellow-bg{
  background-color: #F58D2D;

}
footer{
  position: fixed;
  bottom: 4px;
  width:100%;
  background-color:#C6EEEB;
}
.btn-info{
  background-color:#F58D2D;
  border:#89C7BE; ;
}
.jumbotron{
  background-color:#89C7BE; 
}
.hpicon{
  font-size:60px;
  padding: 10px;
  color:#3E726A;  
}