<div class="navbar">
    <a class="navbar-brand" ng-href="#!/">Title</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a ng-href="#!/meet">meetings</a>
        </li>
        <li class="active">
            <a ng-href="#!/new">New Event</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#!/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>

</div>
<div class="container text-center">    
        <h3>Events Gallery</h3><br>
        <button class="btn btn-danger"  ng-click="newEvent()" >New Event</button>
      <button type="button" class="btn btn-default" ng-click="sortBy('date: dd/MM/yyy')">Order BY Date</button>
        <div class="row">
          
                <div ng-repeat="meet in meetings | filter : query | orderBy: orderProp" class = "well col-xs-12 col-sm-4 col-md-4 col-lg-4 gallery-item">
                       <h3>{{meet.title}}</h3>
                       <h4>When : {{meet.date| date: "dd/MM/yyyy" }}</h4>
                       <h4>{{meet.time| date: "hh:mm"}}</h4>
                       <h4>where : {{meet.location}}</h4>
                       <h4>{{meet.createdBy}}</h4>   
                       <h4>{{meet.meetId}}</h4>  
                       <button type="button" class="btn btn-default" ng-click="openDetails($index)">Details</button>    
                </div>
               <!-- <button type="button" class="btn btn-default" ng-click="sortBy()">Order BY Date</button>-->
                
         
            
        </div>   
          
 </div>
<br>
      
      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>





