

<div class="container">
        <h2>Event Details</h2>
        <button type="button" class="btn btn-danger" ng-click="update()">update</button>
        <div >
                <h4>{{meet.title}}</h4>
               <h4>{{meet.date}}</h4>
               <h4>{{meet.time}}</h4>
               <h4>{{meet.location}}</h4>
               <h4>{{meet.createdBy}}</h4>
        </div>      
               <div>
                <h3>Tasks</h3>
           <ul>
               <li ng-repeat="task in meet.tasks">
                 <button class="clear-btn" ng-click="removeTask()">Delete</button>  
                 <input type="checkbox" ng-model="task.completed"/>
                 <span class="completed-{{task.completed}}">{{task.amount}} {{task.item}}</span>
               </li>
               </ul>
                <div>
              
                            <form>
                              <input class="add-input" placeholder="New Item..." type="text" ng-model="formTaskItem" />
                              <input class="add-input" placeholder="Amount" type="number" ng-model="formTaskAmount"  />
                              <button class="btn btn-primary" ng-click="addTask()">Add Item</button>
                              <button class="btn btn-primary" ng-click="clearCompleted()">Clear completed</button>
                              <button class="btn btn-primary" ng-click="showCompleted()">display completed</button>
                              
                            </form>
                          
               </div>
               <div>
                        <h3>Inviteds</h3>
                   <ul>
                       <li ng-repeat="invited in meet.inviteds">
                         <button class="clear-btn" ng-click="removeInvited()">Delete</button>  
                         <input type="checkbox" ng-model="invited.completed"/>
                         <span class="completed-{{invited.completed}}">{{invited.name}} {{invited.amount}}</span>
                       </li>
                       </ul>
                        <div>
                      
                         <form>
                        <input class="add-input" placeholder="name" type="text" ng-model="formInvitedName" />
                        <input class="add-input" placeholder="Amount" type="number" ng-model="formInvitedAmount"  />
                         <button class="btn btn-primary" ng-click="addInvited()"> invite</button>
                          <button class="btn btn-primary" ng-click="clearCompleted()">Clear completed</button>
                        <button class="btn btn-primary" ng-click="showCompleted()">display completed</button>
                           <p>Total :{{sumInvited()}}</p>           
                        </form>
                                  
                       </div>
               
               <div>
                 <h3>Costs</h3>
                <ul>
               <li ng-repeat="cost in meet.costs">
                 <button class="clear-btn" ng-click="removeCost()">Delete</button>  
                 <span>{{cost.costelement}} {{cost.amount}}</span>
               </li>
               </ul>
                <div>
                 <form  action="" method="POST" role="form" >
                                                                
                         <div class="form-group" >
                         <input type="text" class="add-input" id="costelement" placeholder="Input Costelement" ng-model="formCostelement" >
                        <input type="number" class="add-input" id="amount" placeholder="Input Amount" ng-model="formAmount" > 
                        <button type="submit" class="btn btn-primary" ng-click="addCost()">Add cost</button>
                        <p>Total Costs: {{sumCost()}}</p>
                                                
                        </div>
                       

               </div>
           
   </div>
   
   
   