

<div class="container">
  <div >
     <h2>{{meet.title}}</h2> 
      <!--  <p>{{isManager()}}</p>-->
              <h4>Event details:</h4>
               <h4>Date:{{meet.date}} Time: {{meet.time}}</h4>
               <h4>Where: {{meet.location}}</h4>
               <h4>Created by:{{meet.createdBy}}</h4>
       </div>
      <div>
       <button type="button" class="btn btn-danger" ng-click="update()">update</button>
       <button type="button" class="btn btn-danger" ng-click="notComming ()" ng-show="isInvited()" >Not Comming</button>
       <button  class="btn btn-danger" ng-click="comming()"  ng-show="isInvited()" >Comming</button>
      </div>
      <div class = "hide" id = "confirm" >
        <h3>confirmation</h3>
        
                <form>
                 Inviteds Amount:
                  <input class="add-input" placeholder="Amount" type="number" ng-model="formInvitedConfirm" />
                  Select from list :
                  <ul>
                      <li ng-repeat="task in meet.tasks">
                        <input type="checkbox" ng-model="task.completed"/>
                        <span class="completed-{{task.completed}}">{{task.amount}} {{task.item}}</span>
                      </li>
                      </ul>
                  
                  <button class="btn btn-primary" ng-click="confirm()" >save</button>
                  
                </form>
      </div>
</div>
      <div class="container">    
        
        <div class="row">
          <div class="col-sm-4">
                <h4>Tasks</h4>
           <ul>
               <li ng-repeat="task in meet.tasks">
                 <button class="clear-btn" ng-click="removeTask()">Delete</button>  
                 <input type="checkbox" ng-model="task.completed"/>
                 <span class="completed-{{task.completed}}">{{task.amount}} {{task.item}}</span>
               </li>
               </ul>
                <div>
              
                            <form>
                              <input class="add-input" placeholder="New Item..." type="text" ng-model="formTaskItem"  ng-disabled="isNotManager()"/>
                              <input class="add-input" placeholder="Amount" type="number" ng-model="formTaskAmount" ng-disabled="isNotManager()" />
                              <button class="btn btn-primary" ng-click="addTask()" ng-disabled="isNotManager()" >Add Item</button>
                              <button class="btn btn-primary" ng-click="clearCompleted()" ng-disabled="isNotManager()">Clear completed</button>
                              <button class="btn btn-primary" ng-click="showCompleted()" ng-disabled="isNotManager()">display completed</button>
                              
                            </form>
                          
               </div>
              </div>
               <div  class="col-sm-4">
                        <h4>Inviteds</h4>
                   <ul>
                       <li ng-repeat="invited in meet.inviteds">
                         <button class="clear-btn" ng-click="removeInvited()">Delete</button>  
                         <input type="checkbox" ng-model="invited.completed"/>
                         <span class="completed-{{invited.completed}}">{{invited.name}} {{invited.amount}}</span>
                       </li>
                       </ul>
                       <p>Total Inviteds:{{sumInvited()}}</p>  
                       <p>Confirmed:{{sumConfirm()}}</p> 
                        <div>
                      
                         <form>
                        <input class="add-input" placeholder="name" type="text" ng-model="formInvitedName" ng-disabled="isNotManager()" />
                        <input class="add-input" placeholder="Amount" type="number" ng-model="formInvitedAmount" ng-disabled="isNotManager()"  />
                         <button class="btn btn-primary" ng-click="addInvited()" ng-disabled="isNotManager()"> invite</button>
                         <button class="btn btn-primary" ng-click="clearCompleted()" ng-disabled="isNotManager()">Clear completed</button>
                        <button class="btn btn-primary" ng-click="showCompleted()" ng-disabled="isNotManager()">display completed</button>
                                   
                        </form>
                                  
                      </div>
              </div>
               
               <div  class="col-sm-4">
                 <h4>Costs</h4>
                <ul>
               <li ng-repeat="cost in meet.costs">
                 <button class="clear-btn" ng-click="removeCost()">Delete</button>  
                 <span>{{cost.costelement}} {{cost.amount}}</span>
               </li>
               </ul>
               <p>Total Costs: {{sumCost()}}</p>
                <div>
                 <form  action="" method="POST" role="form" >
                                                                
                         <div class="form-group" >
                         <input type="text" class="add-input" id="costelement" placeholder="Input Costelement" ng-model="formCostelement" ng-disabled="isNotManager()" >
                        <input type="number" class="add-input" id="amount" placeholder="Input Amount" ng-model="formAmount" ng-disabled="isNotManager()" > 
                        <button type="submit" class="btn btn-primary" ng-click="addCost()" ng-disabled="isNotManager()">Add cost</button>
                        
                                                
                        </div>
                       

               </div>
       </div>    
   </div>
   
   
   