

<div class="container">
        <h1>Meet Details</h1>
   
        <div >
                <h4>{{meet.title}}</h4>
               <h4>{{meet.date}}</h4>
               <h4>{{meet.time}}</h4>
               <h4>{{meet.location}}</h4>
               <h4>{{meet.createdBy}}</h4>
        </div>      
               <div>
                <h1>Tasks</h1>
           <ul>
               <li ng-repeat="task in meet.tasks">
                 <button class="clear-btn" ng-click="removeTask()">Delete</button>  
                 <input type="checkbox" ng-model="task.completed"/>
                 <span class="completed-{{task.completed}}">{{task.amount}} {{task.item}}</span>
               </li>
               </ul>
                <div>
              
                            <form>
                              <input class="add-input" placeholder="New Item..." type="text" ng-model="formTaskItem" />
                              <input class="add-input" placeholder="Amount" type="number" ng-model="formTaskAmount"  />
                              <button class="btn btn-primary" ng-click="addTask()">Add Item</button>
                              <button class="btn btn-primary" ng-click="clearCompleted()">Clear completed</button>
                              <button class="btn btn-primary" ng-click="showCompleted()">display completed</button>
                              
                            </form>
                            
               </div>
               <div>
                        <h4>{{meet.costs}}</h4> 
                         <h1>Costs</h1>
           <ul>
               <li ng-repeat="cost in meet.costs">
                 <button class="clear-btn" ng-click="removeCost()">Delete</button>  
                 <span>{{cost.costelement}} {{cost.amount}}</span>
               </li>
               </ul>
                <div>
                                <form  action="" method="POST" role="form" >
                                                <legend>Add Costs</legend>
                                        
                                            <div class="form-group" >
                                                <label for="costelement">Costelement</label>
                                                <input type="text" class="add-input" id="costelement" placeholder="Input text" ng-model="costelement" >
                                                <label for="amount">Amount</label>
                                                <input type="number" class="add-input" id="amount" placeholder="Input Amount" ng-model="amount" >
                                                <p>Costs: {{sumCost()}}</p>
                                                
                                            </div>
                                            <button type="submit" class="btn btn-primary" ng-click="addCost1()">Create</button>

               </div>

               <div>
                        <h4>{{meet.inviteds}}</h4> 
               </div>
               
          
           
           
   </div>
   
   
   