<div class="navbar">
    
    <ul class="nav navbar-nav">
        <!--<il class="logo"><img src="final-project\images\CU2.png"></il>-->
        <li class="active">
            <a ng-href="#!/meet">Events Gallery</a>
        </li>
        <li class="active">
            <a ng-href="#!/new" >Create New Event</a>
        </li>
        <li>
           <!-- <a href="#">Link</a>-->
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#!/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>

</div>

<div class="container text-center">
        <div class= "search color">
                <label for="search">Search : <span class="glyphicon glyphicon-search"></span> </label>
                <input type="text" ng-model="query.title" placeholder="Search Title" id="search">
                <button type="button" class="btn btn-default" ng-click="sortBy('date: dd/MM/yyy')">Order BY Date</button>
        </div>    
        <h2 class="color ">Events Gallery</h2><br>
        
     <!--   <button class="btn btn-danger"  ng-click="newEvent()" >New Event</button>-->
     <button  class="btn btn-block btn-success yellow-bg"  ng-click="newEvent()" >Create New Event</button>
     <br>
      
        <div class="row">
          
                <div ng-repeat="meet in meetings | filter : query | orderBy: orderProp" class = "col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="well gallery-item">
                       <h3>{{meet.title}}</h3>
                       <h4>When : {{meet.date| date: "dd/MM/yyyy" }}</h4>
                       <h4>{{meet.time| date: "hh:mm"}}</h4>
                       <h4>where : {{meet.location}}</h4>
                       <h4>{{meet.createdBy}}</h4>   
                       <button type="button" class="btn btn-default" ng-click="openDetails($index)">Details</button>
                    </div>

                </div>
               <!-- <button type="button" class="btn btn-default" ng-click="sortBy()">Order BY Date</button>-->
                
         
            
        </div>
     <!--   <button  class="btn btn-block btn-success yellow-bg"  ng-click="newEvent()" >Create New Event</button>-->
        
          
 </div>
<br>
      
      <footer>
        <p>CU2 -  Event Plan</p>
      </footer>





