<div ng-controller="meetCtrl" >
    
    <form  action="" method="POST" role="form" >
        <legend>Create New Meeting</legend>

    <div class="form-group" >
        <label for="title">Title</label>
        <input type="text" class="add-input" id="title" placeholder="Input text" ng-model="title" ng-model-instant>
        <label for="date">Date</label>
        <input type="date" class="add-input" id="date" placeholder="Input Date" ng-model="date" ng-model-instant>
        <label for="time">Time</label>
        <input type="time" class="add-input" id="time" placeholder="Input Time" ng-model="time" ng-model-instant>
        <label for="location">Location</label>
        <input type="text" class="add-input" id="location" placeholder="Input location" ng-model="location" ng-model-instant>
        
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addMeet()">Create</button>
    </form>
    <div ng-repeat="meet in meetings">
        <h2>{{meet.title}}</h2>
        <h2>{{meet.date}}</h2>
        <h2>{{meet.time}}</h2>
        <h2>{{meet.location}}</h2>
        
    </div>
   
</div>

<div ng-controller="taskListCtrl">
    <ul>
  
  <li ng-repeat= "task in tasks">
    <button class="clear-btn" ng-click="delete()">Delete</button>
    <input type="checkbox" ng-model="task.completed"/>
     <span class="completed-{{task.completed}}">{{task.amount}} {{task.item}}</span></li>
</ul>
<form>
  <input class="add-input" placeholder="New Item..." type="text" ng-model="formTaskItem" ng-model-instant />
  <input class="add-input" placeholder="Amount" type="text" ng-model="formTaskAmount" ng-model-instant />
  <button class="btn btn-primary" ng-click="addTask()">Add Item</button>
  <button class="btn btn-primary" ng-click="clearCompleted()">Clear completed</button>
  <button class="btn btn-primary" ng-click="showCompleted()">display completed</button>
</form>


</div>
<div ng-controller="costsCtrl" >
    
    <form  action="" method="POST" role="form" >
        <legend>Add Costs</legend>

    <div class="form-group" >
        <label for="costelement">Costelement</label>
        <input type="text" class="add-input" id="costelement" placeholder="Input text" ng-model="costelement" ng-model-instant>
        <label for="amount">Amount</label>
        <input type="number" class="add-input" id="amount" placeholder="Input Amount" ng-model="amount" ng-model-instant>
        
        
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addCost()">Create</button>
    </form>
    <div ng-repeat="cost in costs">
        <h2>{{cost.costelement}}</h2>
        <h2>{{cost.amount}}</h2>
        
    </div>
   
</div>

<div ng-controller="invitedCtrl" >
    
  
    <ul>
        <li ng-repeat="invented in inventeds">
           
            <button class="clear-btn" ng-click="delete()">Delete</button>
            <input type="checkbox" ng-model="invited.completed"/>
            <span class="completed-{{invited.completed}}">{{invited.amount}} {{invited.item}}</span></li>
    </ul>
    <form  action="" method="POST" role="form" >
            <legend>Add Inventeds</legend>
    
        <div class="form-group" >
            <label for="name">Name</label>
            <input type="text" class="add-input" id="name" placeholder="Input text" ng-model="name" ng-model-instant>
            <label for="amount">Amount</label>
            <input type="number" class="add-input" id="amount" placeholder="Input Amount" ng-model="amount" ng-model-instant>
            
            
        </div>
        <button type="submit" class="btn btn-primary" ng-click="addInvented()">Add Invented</button>
        </form>
        
   
</div>




    
