
<div class="navbar">
        
        <ul class="nav navbar-nav">
            <!--<il class="logo"><img src="final-project\images\CU2.png"></il>-->
            <li class="active">
                <a ng-href="#!/meet">Events Gallery</a>
            </li>
            <li>
               <!-- <a href="#">Link</a>-->
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#!/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
    
    </div>


<div ng - controller="newEventCtrl">
<div class="jumbotron text-center">
  <div class="color container">
    <h1>New Event </h1>
   
  </div>
 </div>

    <div class="container" >
    <div class="color col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <form  action="" method="POST" role="form" >
                <legend> New Event</legend>
        
            <div class="form-group">
                <label for="title">Title : </label>
                <input type="text" class="form-control" id="title" placeholder="Input text" ng-model="title"><br>
                <label for="date">Date : </label>
                <input type="date" ng-model="date">
                <input type="time" class="add-input" id="time" placeholder="Input Time" ng-model="time"><br>
                <label for="location">Location : </label>
                <input type="text" class="form-control" id="location" placeholder="Input location" ng-model="location">
                
            </div>
            <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
           
            
           
        </div>
    </div>
    </div>      
         
        </div>